In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
#read in the three datasets
#NYbestlist is the NY times best seller list
#weeks_on_list is the number of weeks a book was on the best seller list
NYbestlist_df = pd.read_csv("Resources/books_uniq_weeks.csv",encoding = 'unicode_escape')
NYbestlist.head()

,publisher,author,primary_isbn10,primary_isbn13,date,contributor,title,weeks_on_list
0,Riverhead,Paula Hawkins,1594634025,9.78E+12,2/19/17,by Paula Hawkins,THE GIRL ON THE TRAIN,102
1,Scribner,Anthony Doerr,1501173219,9.78E+12,5/7/17,by Anthony Doerr,ALL THE LIGHT WE CANNOT SEE,81
2,Vintage,E L James,525431888,9.78E+12,3/5/17,by E. L. James,FIFTY SHADES DARKER,66
3,St. Martin's,Kristin Hannah,1466850604,9.78E+12,10/29/17,by Kristin Hannah,THE NIGHTINGALE,63
4,Penguin Group,Kathryn Stockett,1440697663,9.78E+12,4/8/12,by Kathryn Stockett,THE HELP,58

In [5]:
#goodreads is the Goodreads dataset
goodreads_df = pd.read_csv('Resources/books.csv',error_bad_lines=False)
goodreads_df.head()

b'Skipping line 4012: expected 10 fields, saw 11\nSkipping line 5688: expected 10 fields, saw 11\nSkipping line 7056: expected 10 fields, saw 11\nSkipping line 10601: expected 10 fields, saw 11\nSkipping line 10668: expected 10 fields, saw 11\n'

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,0439554934,9780439554930,eng,320,5629932,70390
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,0439554896,9780439554893,eng,352,6267,272
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9780439655484,eng,435,2149872,33964

In [8]:
#top100 is the top 100 books from 1998-2010
#Volume is how many books were sold which is a great thing to potentially track
top100_df = pd.read_csv('Resources/Top 100 books - TOP 100 - ALL TIME.csv')
top100_df.head()

,Index,Position,ISBN,Title,Author,Imprint,Publisher Group,Volume,Value,RRP,ASP,Binding,Publ Date,Product Class
0,1,1,9.780550e+12,"Da Vinci Code,The","Brown, Dan",Corgi Books,Transworld Grp,"4,522,025","£22,857,837.53",£7.99,£5.05,Paperback,1-Mar-04,"F2.1 Crime, Thriller & Adventure"
1,3,2,9.780750e+12,Harry Potter and the Philosopher's Stone#,"Rowling, J. K.",Bloomsbury Publishing PLC,Bloomsbury Grp,"3,844,316","£19,853,187.43",£6.99,£5.22,Paperback,26-Jun-97,Y2.1 Children's Fiction
2,7,3,9.780750e+12,Harry Potter and the Chamber of Secrets#,"Rowling, J. K.",Bloomsbury Publishing PLC,Bloomsbury Grp,"3,184,492","£16,224,021.98",£6.99,£5.07,Paperback,1-Apr-99,Y2.1 Children's Fiction
3,6,4,9.780550e+12,Angels and Demons#,"Brown, Dan",Corgi Books,Transworld Grp,"3,096,850","£15,537,324.84",£7.99,£5.05,Paperback,1-Jul-03,"F2.1 Crime, Thriller & Adventure"
4,2,5,9.780750e+12,Harry Potter and the Order of the Phoenix,"Rowling, J. K.",Bloomsbury Publishing PLC,Bloomsbury Grp,"3,043,226","£33,925,431.19",£16.99,£11.15,Hardback,21-Jun-03,Y2.1 Children's Fiction